<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title> H&M </title>
    {% endif %}  
    <link rel = "icon" href = "static/site_imgs/Logo.png" 
        type = "image/x-icon">
    <meta name="Recommender Gallery for TDS article">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {%if customstyle %}
    <link rel="cusotm page stylesheet" href="{{ url_for('static', filename='css/') }}{{customstyle}}">
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" >
</head>

<body>
    <section style="z-index: 1;" class="header">
        <div class="headerImage">
            <a href="/"><img src="{{url_for('static', filename='site_imgs/Logo.png')}}" alt="mds Logo"></a>
            <a href="/cart"><img src="{{url_for('static', filename='site_imgs/Logo1.png')}}" alt="mds Logo"></a>
        </div>
    </section>
    {% block content %} {% endblock %}
</body>

</html> 