{% extends "layout.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
  <title>Scratch Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_scratch_card.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<!--
https://github.com/andreruffert/scratchie.js
-->

<div class="container" id="js-container">
  <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
  <form class="form" style="visibility: hidden;">
    <h2>'Allo, 'Allo!</h2>
    <h3>The secret code is:</h3>
    <h1><code id='code'>{{code}}</code></h1>
    <br>
  </form>  
</div>
<!-- partial -->
  <script>
	window.static_folder = "{{url_for('static',filename='site_imgs/Colors-of-the-HM-Logo.png')}}";
  </script>
  <script  src="{{ url_for('static', filename='js/script_scratch_Card.js') }}"></script>

</body>
{% endblock content %}
